In [1]:

import numpy as np
import pandas as pd

In [6]:
import pandas as pd

# Load the CSV files from the raw GitHub URL
users = pd.read_csv('https://raw.githubusercontent.com/Tannukr/TDSProject1/main/users.csv')
repos = pd.read_csv('https://raw.githubusercontent.com/Tannukr/TDSProject1/main/repositories.csv')

In [7]:
#Data Preprocessing
users['hireable'] = users['hireable'].replace({True: 'true', False: 'false'})
users['created_at'] = pd.to_datetime(users['created_at'])
users.head()

,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at
0,ValentineFernandes,Valentine Fernandes,NaN,"Mumbai, India",NaN,NaN,HTML | CSS | JS | SQL | MYSQL | JAVA,66,5250,5274,2022-01-29 08:11:37+00:00
1,kovidgoyal,Kovid Goyal,NaN,"Mumbai, India",NaN,NaN,Principal developer of calibre and kitty,37,4293,0,2012-01-06 05:38:24+00:00
2,slidenerd,slidenerd,SLIDENERD,Mumbai,slidenerd@gmail.com,true,"Bots, AI, advanced web frameworks, ohlc applic...",113,3168,1,2013-08-01 14:17:19+00:00
3,aryashah2k,Arya Shah,OPENAOD,"Mumbai, India",NaN,NaN,Computer Science Major | Machine Learning | So...,88,2599,2583,2020-11-03 03:06:19+00:00
4,coding-parrot,Gaurav Sen,INTERVIEWREADY,"Mumbai, India",NaN,NaN,CEO of InterviewReady,11,2416,0,2020-01-03 14:13:35+00:00

In [8]:

users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 724 entries, 0 to 723
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   login         724 non-null    object
 1   name          716 non-null    object
 2   company       405 non-null    object
 3   location      724 non-null    object
 4   email         331 non-null    object
 5   hireable      272 non-null    object
 6   bio           633 non-null    object
 7   public_repos  724 non-null    int64
 8   followers     724 non-null    int64
 9   following     724 non-null    int64
 10  created_at    724 non-null    datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), int64(3), object(7)
memory usage: 62.3+ KB

In [9]:
repos['has_projects'] = repos['has_projects'].replace({True: 'true', False: 'false'})
repos['has_wiki'] = repos['has_wiki'].replace({True: 'true', False: 'false'})
repos['created_at'] = pd.to_datetime(repos['created_at'])
repos.head()

,login,full_name,created_at,stargazers_count,watchers_count,language,has_projects,has_wiki,license_name
0,ValentineFernandes,ValentineFernandes/Age-Calculator-,2022-08-17 06:32:19+00:00,13,13,CSS,true,true,mit
1,ValentineFernandes,ValentineFernandes/ASP.NET-,2022-04-26 10:12:11+00:00,18,18,ASP.NET,true,true,NaN
2,ValentineFernandes,ValentineFernandes/Assignment-4.2,2022-04-14 11:55:25+00:00,15,15,HTML,true,true,NaN
3,ValentineFernandes,ValentineFernandes/Bank-Management-System,2022-04-24 16:24:17+00:00,26,26,C,true,true,NaN
4,ValentineFernandes,ValentineFernandes/BMI-Calculator-Website,2022-08-17 04:47:27+00:00,11,11,HTML,true,true,mit

In [10]:
repos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44184 entries, 0 to 44183
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   login             44184 non-null  object
 1   full_name         44184 non-null  object
 2   created_at        44184 non-null  datetime64[ns, UTC]
 3   stargazers_count  44184 non-null  int64
 4   watchers_count    44184 non-null  int64
 5   language          31820 non-null  object
 6   has_projects      44184 non-null  object
 7   has_wiki          44184 non-null  object
 8   license_name      15879 non-null  object
dtypes: datetime64[ns, UTC](1), int64(2), object(6)
memory usage: 3.0+ MB

Q1 Who are the top 5 users in Mumbai with the highest number of followers? List their login in order, comma-separated.

In [12]:
# Filter users from Mumbai (case-insensitive)
mumbai_users = users[users['location'].str.lower().str.contains('mumbai', na=False)]

# Sort by followers in descending order and get top 5
top_5_users = mumbai_users.nlargest(5, 'followers')

# Get their logins as comma-separated string
result = ','.join(top_5_users['login'].tolist())

print("Top 5 Mumbai users by followers:")
print(result)

Top 5 Mumbai users by followers:
ValentineFernandes,kovidgoyal,slidenerd,aryashah2k,coding-parrot

Q2 Who are the 5 earliest registered GitHub users in Mumbai? List their login in ascending order of created_at, comma-separated.

In [13]:
# Convert created_at to datetime for proper sorting
users['created_at'] = pd.to_datetime(users['created_at'])

# Filter users from Mumbai (case-insensitive)
mumbai_users = users[users['location'].str.lower().str.contains('mumbai', na=False)]

# Sort by creation date (ascending) and get first 5
earliest_users = mumbai_users.nsmallest(5, 'created_at')

# Get their logins as comma-separated string
result = ','.join(earliest_users['login'].tolist())

print("5 earliest Mumbai GitHub users:")
print(result)

5 earliest Mumbai GitHub users:
ivank,sandeepshetty,svs,nitinhayaran,nischal

Q3 What are the 3 most popular license among these users? Ignore missing licenses. List the license_name in order, comma-separated.
Licenses

In [14]:
','.join(repos['license_name'].value_counts(dropna=True).index[:3].to_list())

'mit,apache-2.0,other'

Q4  Which company do the majority of these developers work at?

In [15]:
users['company'].value_counts().index[0]

'MASAI SCHOOL'

Q5  Which programming language is most popular among these users?

In [16]:
repos['language'].value_counts().index[0]

'JavaScript'

Q6  Which programming language is the second most popular among users who joined after 2020?

In [17]:
users_post_2020 = users.query('created_at > "2020-01-01 00:00:00+00:00"')
repos_2020 = repos[repos['login'].isin(users_post_2020['login'].tolist())]
repos_2020['language'].value_counts().index[1]

'HTML'

Q7 Which language has the highest average number of stars per repository?

In [18]:
repos.groupby('language')['stargazers_count'].mean().idxmax()

'TSQL'

Q8 Let's define leader_strength as followers / (1 + following). Who are the top 5 in terms of leader_strength? List their login in order, comma-separated.
User login

In [19]:
users['leader_strength'] = users['followers'] / (1 + users['following'])
','.join(users.sort_values(by='leader_strength', ascending=False).iloc[:5, 0].to_list())

'kovidgoyal,coding-parrot,gkcs,slidenerd,dmalvia'

Q9 What is the correlation between the number of followers and the number of public repositories among users in Mumbai?

In [20]:
f"{users['followers'].corr(users['public_repos']):.3f}"

'0.034'

Q10 Does creating more repos help users get more followers? Using regression, estimate how many additional followers a user gets per additional public repository.

In [21]:
from scipy.stats import linregress
f"{linregress(users['public_repos'], users['followers']).slope:.3f}"

'0.100'

Q11 Do people typically enable projects and wikis together? What is the correlation between a repo having projects enabled and having wiki enabled?

In [22]:
import statsmodels.api as sm

# Prepare the data
X = users['public_repos']  # Independent variable: number of public repositories
y = users['followers']     # Dependent variable: number of followers

# Add a constant to the independent variable (for the intercept)
X = sm.add_constant(X)

# Perform the regression
model = sm.OLS(y, X).fit()

# Print the summary of the regression
print(model.summary())

# Get the coefficient for 'public_repos'
repo_coefficient = model.params['public_repos']
print(f"Estimated additional followers per additional public repository: {repo_coefficient:.3f}")

                            OLS Regression Results
==============================================================================
Dep. Variable:              followers   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.8461
Date:                Sat, 02 Nov 2024   Prob (F-statistic):              0.358
Time:                        05:27:05   Log-Likelihood:                -5238.0
No. Observations:                 724   AIC:                         1.048e+04
Df Residuals:                     722   BIC:                         1.049e+04
Df Model:                           1
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const          150.6916     14.143     10.655      0.000     122.925     178.458
public_repos     0.1000      0.109      0.920      0.358      -0.113       0.314
==============================================================================
Omnibus:                     1179.732   Durbin-Watson:                   0.042
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           450089.271
Skew:                           9.956   Prob(JB):                         0.00
Kurtosis:                     123.514   Cond. No.                         147.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
Estimated additional followers per additional public repository: 0.100

Q12 Do hireable users follow more people than those who are not hireable?

In [23]:

hireable_following = users[users['hireable'] == True]['following'].mean()
non_hireable_following = users[users['hireable'] != True]['following'].mean()
f"{hireable_following - non_hireable_following:.3f}"

'nan'

Q13 Some developers write long bios. Does that help them get more followers? What's the impact of the length of their bio (in Unicode words, split by whitespace) with followers? (Ignore people without bios)

In [24]:
users_with_bio = users.loc[users['bio'].notna(), :].copy().reset_index(drop=True, inplace=False)
users_with_bio['bio_length'] = users_with_bio['bio'].str.strip().str.split().str.len()
f"{linregress(users_with_bio['bio_length'], users_with_bio['followers']).slope:.3f}"

'-0.388'

Q14 Who created the most repositories on weekends (UTC)? List the top 5 users' login in order, comma-separated

In [25]:
','.join(repos[repos['created_at'].dt.weekday >= 5].groupby('login').size().sort_values(ascending=False)[:5].index.to_list())

'mohd14shoeb,vinod1988,Kushal334,patilswapnilv,alokproc'

Q15 Do people who are hireable share their email addresses more often?

In [26]:
hireable_true = users[users['hireable'] == True]
fraction_hireable_true = hireable_true['email'].notna().mean()

hireable_other = users[users['hireable'] != True]
fraction_hireable_other = hireable_other['email'].notna().mean()

f"{(fraction_hireable_true - fraction_hireable_other):.3f}"

'nan'

Q16 Let's assume that the last word in a user's name is their surname (ignore missing names, trim and split by whitespace.) What's the most common surname? (If there's a tie, list them all, comma-separated, alphabetically)

In [27]:
users['name'].str.strip().str.split().str[-1].value_counts().head()

name
Singh     17
Shah      15
Yadav     13
Shaikh    11
Sharma    10
Name: count, dtype: int64

In [28]:
# Tie b/w Martnez & Ortiz
users['name'].str.strip().str.split().str[-1].value_counts().head(2)

name
Singh    17
Shah     15
Name: count, dtype: int64